.topnav {
    overflow: hidden;
    background-color: maroon;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: black;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: whitesmoke;
    color: grey;
  }
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
#title {text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        color: purple;
        font-size: xx-large;
      
}  
body {
    background-image: url("./images1/crampledpaper.jpg");
    background-color: #cccccc;
    
   }
   