.topnav {
    overflow: hidden;
    background-color: gray;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: gray;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: gray;
    color: black;
  }
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
#title {text-align: center;}  
body {
    background-image: url("./images1/crampledpaper.jpg");
    background-color: #cccccc;
    
   }
   .row 